.google{
    background-color: blue;
}
.google:hover{
    background-color: red;
    color: blueviolet;
}
.google:active{
    background-color: yellow;
}
a:link{
    color: white;
}
a:hover{
    background-color: green;
    color: aquamarine;
}
a:visited{
    color: brown;
}